.weather{
    width: 40%;
    height: 400px;
    border: 1px solid black;
}

.search-bar{
    display: flex;
    align-items: center;
    gap:12px;
    
}

.weather-info{
    display: flex;
    justify-content: space-between;
}